*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
    border: 0;
    margin: 0;
    list-style-type: none;
    font-family: Arial, sans-serif;
    --dark-moss-green: #215606ff;
    --sage: #aaae7fff;
    --rusty-red: #d64550ff;
    --licorice: #1a090dff;
    --white-smoke: #f7f4f3ff;
    --pearl: #D7D7C1
}

body {
    background-color: var(--pearl);
}

header {
    padding: 24px 16px;
}

nav {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    border: 4px solid var(--dark-moss-green);
}

button {
    padding: 8px 8px;
    border-radius: 10px;
}

#nav-btns > button {
    font-size: 16px;
    font-weight: 600;
    background: none;
    border: none;
    color: var(--dark-moss-green);
    cursor: pointer;
}

#nav-btns > button:hover {
    color: var(--rusty-red);
}

#content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.page-header {
    margin-bottom: 8px;
    font-size: 36px;
    color: var(--dark-moss-green);
}

.page-subheader {
    margin-bottom: 8px;
}

.hero {
    margin-bottom: 8px;
}

.section {
    width: max(65ch, 50vw);
    margin: 16px 0px;
    border: 2px solid black;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

.section > h2:first-child {
    border-bottom: 2px solid black;
    padding: 12px 0px;
}

.section > div,
.section > p {
    margin: 12px;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 4px
}